@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

.body {
    display: grid;
    grid-template-rows: 1fr 60px;
    height: 100vh;
}

.wrapper {
    justify-items: center;
    display: grid;
    grid-template-rows: 80px 1fr;
}

.small_font {
    font-size: 10px;
    font-weight: bold;
}

.text {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #606060;
    font-weight: 500;
}

.italic {
    font-style: italic;
    color: black;
}

@media screen and (max-width: 1441px) {}

@media screen and (max-width: 1229px) {}

@media screen and (max-width: 1069px) {}

@media screen and (max-width: 930px) {}

@media screen and (max-width: 770px) {}

@media screen and (max-width: 405px) {}